<h2>{{model.artist}} &mdash; {{model.title}}</h2>
<h3><small>Release date: {{model.releaseDate}}</small></h3>
<div class='well pull-right'>
  <img src="{{model.albumCover}}" alt="{{model.title}}" class="album-main img-rounded img-responsive" />
</div>
<p>{{model.description}}</p>

